.login-form__input_icon-user {
  background-image: url(/svg/user.svg);
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 37px;
}

.login-form__input_icon-email {
  background-image: url(/svg/envelope.svg);
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 37px;
}

.login-form__input_icon-password {
  background-image: url(/svg/lock.svg);
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 37px;
}
