<h1>Applications</h1>
<div class="apps">
    <div class="icon pomodoro" data-appname="pomodoro"></div>
    <div class="icon cites" data-appname="cites"></div>
</div>
<script src="/js/apps.js"></script>
