<header>
    <button id="backBtn">Back button</button>
    <h1 id="appName">Applications</h1>
</header>
<div id="apps" class="screen show">
    <div class="icon pomodoro" data-appname="pomodoro"></div>
    <div class="icon cites" data-appname="cites"></div>
</div>
<script src="/js/apps.js"></script>
