<h1>{{header}}</h1>
<form class="login-form" action="/api/login" method="post">
  <div class="caption-with-close">Log in</div>
  <a href="/auth/google" class="login-form__signin login-form__signin_social-google">Log in with Google Account</a>
  <a href="/auth/fb" class="login-form__signin login-form__signin_social-fb">Log in with Facebook Account</a>
  <div class="login-form__separator">
    <span>or</span>
  </div>
  <input class="login-form__input" placeholder="Email">
  <input class="login-form__input" placeholder="Password">
  <a href="/api/login" class="login-form__signin">Log in</a>
  <div><a href="#" class="login-form__a">Forgot your password?</a></div>
  <div>Need additional help? <a class="login-form__a" href="#">Contact Support</a></div>
  <div>Don't have an account? <a class="login-form__a" href="#">Sign up in seconds</a></div>
</form>
<!--form class="login-form" action="/api/login" method="post">
  <label for="login">Login</label>
  <input class="login-form__input" type="text" name="login" id="login">
  <label for="password">Password</label>
  <input class="login-form__input" type="password" name="password" id="password">
  <button class="login-form__submit" type="submit">Submit</button>
  <button class="login-form__register" type="button">Register</button>
</form>
<a href="/auth/github" class="external-login-button external-login-button_color-blue">
  <img class="external-login-button__img_github"/>
</a>
<a href="/auth/google" class="external-login-button external-login-button_color-red external-login-button_disabled">
  <img class="external-login-button__img_google"/>
</a>
<a href="/auth/vk" class="external-login-button external-login-button_color-blue external-login-button_disabled">
  <img class="external-login-button__img_vk"/>
</a>
<a href="/auth/fb" class="external-login-button external-login-button_color-blue external-login-button_disabled">
  <img class="external-login-button__img_fb"/>
</a-->

