<h1>{{header}}</h1>
<form action="/api/login" method="post">
  <label for="login">Логин</label>
  <label for="password">Пароль</label>
  <input type="text" name="login" id="login">
  <input type="password" name="password" id="password">
  <button type="submit">Ок</button>
</form>
{{msg}}
