<link rel="stylesheet" href="/css/start.css">
<div class="banner banner_overview">
  <h1>Достигайте большего, каждый день.</h1>
  <h2>Вам доступны несколько приложений, которые сделают вас лучше.</h2>
  <a href="#" class="button">Попробуйте - это бесплатно</a>
</div>