<link rel="stylesheet" href="/css/start.css">
<div class="banner banner_overview">
  <h1>Accomplish more, every day.</h1>
  <h2>You can use several apps to be better.</h2>
  <a href="login" class="button">Get started - it's free</a>
</div>