.apps {
  background-color: #444;
  padding: 20px;
}

.screen {
  width: 100%;
  height: calc(100vh - 120px);
  min-height: 256px;
  position: absolute;
  top: 60px;
  left: 0;
  opacity: 0;
  color: #ddd;
  background-color: #444;
  transition: 0.5s ease-in-out;
  transition-property: opacity, transform;
  transform: translateY(15px);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  z-index: 2;
}

.show {
  opacity: 1;
  transform: translateY(0px);
}

#backBtn {
  position: absolute;
  top: 5px;
  left: 5px;
}

#appName {
  text-transform: capitalize;
}

div.icon {
  cursor: pointer;
  padding: 5px;
  width: 96px;
  height: 96px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.9);
  background: #969696;
}

div.icon img {
  width: 64px;
  height: 64px;
  position: relative;
  top: 8px;
}

div.icon span {
  position: relative;
  bottom: -28px;
}

.button-disabled {
  opacity: 0.5;
}

div.icon.pomodoro {
  background: darkorange;
}

div.icon.pomodoro:hover {
  background: orange;
}

div.icon.pomodoro:active {
  border: 2px solid red;
}

div.icon.cv {
  background: plum;
}

div.icon.cv:hover {
  background: hotpink;
}

div.icon.cv:active {
  border: 2px solid darkmagenta;
}

div.icon.cites {
  background: #009;
}

div.icon.cites:hover {
  background: #0000b3;
}

div.icon.cites:active {
  border: 2px solid #009;
}