p {
  font-size: 35px;
  color: darkgreen;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0px;
}

.project,
.edu_organization,
.programming_languages {
  border: solid 1px #85c800;
  padding: 20px;
  margin-bottom: 14px;
}

.edu_organization {
  width: auto;
  height: 150px;
}

.edu_organization span {
  line-height: 22px;
}

.edu_organization img {
  margin-right: 20px;
}

.edu_organization :nth-child(1) {
  width: 150px;
  float: left;
}

.edu_organization :nth-child(2) {
  width: auto;
  height: 300px;
}

.edu_org_logo {
  width: 100px;
}

#experience_info {
  clear: left;
}

#my_photo {
  width: 250px;
  border: 1px solid #85c800;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

#business_card {
  border: solid 1px #85c800;
  padding: 20px;
  height: 230px;
}

#business_card img {
  margin-right: 10px;
}

#business_card div {
  margin-bottom: 4px;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  padding-top: 20px;
}

.vert_align {
  display: flex;
  align-items: center;
}

a {
  color: #85c800;
}

time {
  background: #85c800;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  padding: 3px 7px 4px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 14px;
}

li {
  list-style: none;
  background: url('../imgs/li_orange_romb.png') no-repeat;
  background-position: 0 4px;
  padding-left: 13px;
}

footer, header {
  background: #85c800;
  color: #fff;
  line-height: 45px;
}