.caption-with-close {
  text-align: left;
  height: 42px;
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 0;
}

.caption-with-close:after {
  content: "";
  width: 16px;
  height: 16px;
  stroke: red;
  background-image: url(/svg/cross.svg);
  position: relative;
  top: 4px;
  right: -317px;
  display: inline-block;
  opacity: 0.3;
  cursor: pointer;
}
