.login-form__separator {
  height: 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-form__separator span {
  color: #ccc;
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  top: -8px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
}
