<form action="/addCite" method="post">
  <h2>Add cite</h2>
  <label for="cite">Cite:</label>
  <textarea name="cite" id="cite" rows="6" cols="30" required></textarea>
  Author:
  <select name="author" id="author">
    <option value="noAuthor" selected>-</option>
    <option value="Достоевский">Достоевский</option>
    <option value="Гоголь">Гоголь</option>
  </select>
  <button>Add author</button>
  <button type="submit">Add cite</button>
</form>
